<% include ../partials/header %>
  
  <form action ="/products/update" method ="post">
  <div class="form-group">
    <label for="">ID</label>
    <input type="number"
      class="form-control"value ="<%= product.id %>" name="id" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Product ID</small>
  </div>

<div class="form-group">
    <label for="">Title</label>
    <input type="text"
      class="form-control" value ="<%= product.title %>"name="title" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Product</small>
  </div>

<div class="form-group">
    <label for="">Price</label>
    <input type="number"
      class="form-control" value = "<%= product.price %>"name="price" id="" aria-describedby="helpId" placeholder="">
    <small id="helpId" class="form-text text-muted">Product price</small>
  </div>

  <div class="form-group">
    <label for="">Create At</label>
    <input type="text"
      class="form-control" value="<%= time %>" name="create" id="" aria-describedby="helpId" placeholder="" disabled>
    <small id="helpId" class="form-text text-muted">create at</small>
  </div>

<button type="submit" class="btn btn-success">Save</button>
<button type="submit" class="btn ">Cancer</button>
</form>

 <% include ../partials/footer %>